
.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin-left: 15px;
}
.content-container{
  width: 250px;
   margin: 10px;
   box-shadow: 5px 5px 5px rgb(0, 0, 0);
   border: 1px solid grey;
}
img{
  width: 200px;
  height: 200px;
}
.price{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
}
h1{
  color: grey;
  text-align: center;
  font-size: 4em;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 50px;
}
@media (max-width: 550px) {
 
  h1{
    font-size: 2em;
    margin-bottom: 10px;
  }
  h2{
    font-size: 16px;
  }
  .content-container{
    background-color: black;
    font-size: small;
    width: 180px;
    margin: 4px;
    color: white;
  }
  img{
    width: 130px;
    height: 130px;
  }
  .category{
    font-weight: bold;

  }
}